.spartify-content {
	width: 500px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 50px;
}
.ember-list-view {
  overflow-y: auto;
  overflow-x : hidden !important;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}